*.vs
/WebStore/obj
/WebStore/bower_components
/WebStore/wwwroot/lib
/visual studio 2017Templates
/Eshopper
/WebStore/bin/Debug/netcoreapp2.0/publish
WebStore/appsettings.json
WebStore/appsettings.json
WebStore/appsettings.json
