@model EmployeeView

@{
    ViewData["Title"] = $"{Model.SecondName} {Model.FirstName}";
    Layout = "_Layout";
}
<div class="container">
    <div style="width: 18rem;">
        <img src="#" alt="Card image cap">
        <div>
            <h5>@Model.SecondName @Model.FirstName @Model.Patronymic</h5>
            <p>@Model.Info</p>
            <a href="#" class="btn btn-primary">Написать сообщение</a>
        </div>
    </div>
</div>
