@{
    ViewData["Title"] = "About";
    Layout = "_EmployeeLayout";
}
<div class="jumbotron">
    <h1 class="display-4">Привет, пользователь!</h1>
    <p class="lead">
        Ты попал на страницу учебного проекта
        <a href="https://geekbrains.ru" role="button">GeekBrains</a>
    </p>
    <a></a>
    <hr class="my-4">
    <p>Для тестирования функции просмотра работников перейди по ссылке</p>
    <p class="lead">
        @Html.ActionLink("Просмотреть список работников", "EmployeeList", "Employee", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>
