@model UserViewModel

@{
    ViewData["Title"] = $"{Model.Login}";
    Layout = "_Layout";
}
<div class="container">
    <div style="width: 18rem;">
        <img src="#" alt="Card image cap">
        <div>
            <h5>@Model.Login</h5>
            <a href="#" class="btn btn-primary">Написать сообщение</a>
        </div>
    </div>
</div>
