<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    @await Html.PartialAsync("Partial/_HeadAttributes")
</head>
<body>

<div class="container">

    @RenderBody()
    
    <hr/>
    <footer>
        <p>&copy; 2018 - WebStore</p>
    </footer>
</div>
    

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
@await Html.PartialAsync("Partial/_Scripts")
</body>
</html>