<!DOCTYPE html>
<html lang="en">
<head>
    <!--/head-->
    <title>@ViewBag.Title | E-Shopper</title>
    @await Html.PartialAsync("Partial/_HeadAttributes")
</head><!--/head-->

<body>

    @await Html.PartialAsync("Partial/_Header")
    
    @await RenderSectionAsync("top", false)
    
    @RenderBody()

    @await Html.PartialAsync("Partial/_Footer")
    
    @await Html.PartialAsync("Partial/_Scripts")
    @RenderSection("scripts", false)
</body>
</html>