<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>

    <div class="container">

    @RenderBody()
    
    <hr/>
    <footer>
        <p>&copy; 2018 - WebStore</p>
    </footer>
    </div>
</body>
</html>