
@using WebStore.Models.Product
@model WebStore.Models.Product.CatalogModel

@{
    ViewData["Title"] = "Shop";
    Layout = "_SideBarLayout";
}

@section top {
    <section id="advertisement">
        <div class="container">
            <img src="~/images/shop/banner.jpg" alt="" />
        </div>
    </section>
}

@await Html.PartialAsync("Partial/_Features", Model.Products)

<ul class="pagination">
    <li class="active"><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">&raquo;</a></li>
</ul>