@model CatalogViewModel

@{
    ViewData["Title"] = "Shop";
    Layout = "_LayoutBreadcrumbs";
}

@section top {
    <section id="advertisement">
        <img src="~/images/shop/banner.jpg" alt="" />
    </section>
}

<section>
    <div class="row">
        <div class="col-sm-3">
            @await Html.PartialAsync("Partial/_LeftSideBar")
        </div>

        @await Html.PartialAsync("Partial/_Features", Model.Products)
        <paging page-model="Model.PageViewModel"
                page-action="Shop"
                page-url-sectionId="@Model.SectionId"
                page-url-brandId="@Model.BrandId"></paging>
    </div>
</section>