@{
    ViewData["Title"] = "About";
    Layout = "_SideBarLayout";
}

@section top{
    @await Html.PartialAsync("Partial/_Slider")
}


    <div class="col-sm-9 padding-right">
        @await Html.PartialAsync("Partial/_Features")
    </div>

@await Html.PartialAsync("Partial/_Category")

@await Html.PartialAsync("Partial/_Recommended")

@section scripts{
    @*<script>
        $(function () {
            alert("Страница загрузилась");
        })
    </script>*@
}